.nav-bar{
    height: fit-content;
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
    padding-block: 0.6rem;
    padding-inline: 1rem;
    background-color: rgba(39, 38, 38, 0.332);
    // position: sticky;
    // z-index: 999;
    position: absolute;
    top: 0;
    p{
        font-size: 1.7rem;
        font-weight: 700;
    }

    .button{
        background-color: rgb(69, 102, 219);
        padding: 0.2rem;
        border: none;
        border-radius: 0.5rem;
        color: rgb(219, 215, 215);
        font-weight: 600;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
}